.topbar {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #05204a;
  color: #fff;
}

.tleft {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* text-indent: 20px; */
}

.tright {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.namePlaceholder {
  background-color: rgba(218, 141, 141, 0.514);
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}

.nameFirstLetter {
  font-size: 30px;
}

.searchbar {
  height: 40px;
  width: 80%;
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 20px;
}

.sbLeft {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchImage {
  height: 20px;
  width: 20px;
}

.sbRight {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchInputField {
  height: 100%;
  width: 90%;
  border: none;
  outline: none;
  font-size: 16px;
}
.homeBtn {
  color: white;
  text-decoration: none;
  font-size: 20px;
}
.hover-on {
  display: block;
  position: absolute;
  background-color: gray;
  border-radius: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.hover-off {
  display: none;
}

.our-user {
  padding: 10px 20px;
  cursor: pointer;
}
.our-user:hover{
  background-color: #fff;
  color: black;
}
@media (max-width: 1440px) {
  .our-user {
    font-size: 1rem;
  }
}
/* @media (max-width:1260px){
  .our-user{
    font-size: 18px;
  }
}
@media (max-width:1150px){
  .our-user{
    font-size: 16px;
  }
}
@media (max-width:1020px){
  .our-user{
    overflow-x: hidden;
  }
} */

@media screen and (max-width: 500px) {
  .hover-on {
    width: 100%;
    z-index: 2;
  }
}
