/* .topbar{
    height:10vh;
    background-color: blanchedalmond;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tleft{
    height: 100%;
    flex:1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tright{
    height: 100%;
    flex:8;
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 100px;
}

.namePlaceholder{
    background-color: rgb(236, 236, 236);
    border-radius: 50%;
    height: 90px;
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
}

.searchbar{
    height: 40px;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:20px;
}
.sbLeft{
    flex:1;
    height: 100%;
}
.sbRight{
    flex:8;
    height: 100%;
}
.searchImage{
    width: 100%;
    height: 100%;
    min-width: 40px;
    min-height: 40px;
}

.searchInputField{
    height: 100%;
    width: 100%;
    border: none;
    min-width: 150px;
} */

.topbar {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #05204a;
  color: #fff;
}

.tleft {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* text-indent: 20px; */
}

.tright {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.namePlaceholder {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: black;
  width: 50px;
  height: 50px;
}

.nameFirstLetter {
  font-size: 30px;
}

.searchbar {
  height: 40px;
  width: 80%;
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 20px;
}

.sbLeft {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchImage {
  height: 20px;
  width: 20px;
}

.sbRight {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchInputField {
  height: 100%;
  width: 90%;
  border: none;
  outline: none;
  font-size: 16px;
}
.homeBtn {
  color: white;
}
.hover-on {
    position: absolute;
    font-size: x-large;
    text-align: center;
    z-index: 1;
    left: 0;
    margin-top: 5px;
    width: 20%;
    height: 20%;
    background-color: black;
}
.hover-off {
display: none;
}
@media screen and (max-width: 425px) {
    .hover-on{
      width: 100%;
      z-index: 2;
    }
}