.sidebar{
    width: 100%;
    background-color:rgb(233, 233, 233);
    display: grid;
    height: 80vh;
    grid-template-rows: 50% 50%;
    overflow: hidden;
    gap: 20px;
    overflow-y: scroll;
}
.sidebarSection{
    text-align: center;
    font-size: 2.7rem;
    border-bottom: 1px solid black;
}
.sectionItems{
    overflow-y: scroll;
    text-align: end;
    max-height: 300px;
}
.itemWrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.item{
    height: 75px;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    margin-left: 10px;

}

.item:hover{
    background-color: black;
    color: white;
}
.deleteItem{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}


@media (max-width:1440px) {
    .sidebarSection{
        font-size: 2.2rem;
    }
    .item{
        font-size: 1.5rem;
    }
}

@media (max-width:1440px) {
    .sidebarSection{
        font-size: 1.6rem;
    }
    .item{
        font-size: 1.1rem;
    }
}
